<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopHair"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".app.screen.register.RegisterEnderecoScreen"
            android:exported="false"
            android:label="@string/title_activity_register_endereco_screen"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.menu.MenuNavigationView"
            android:exported="false"
            android:label="@string/title_activity_menu_navigation_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.register.RegisterDadoView"
            android:exported="true"
            android:label="@string/title_activity_register_dado_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.register.RegisterSucessoCadastroView"
            android:exported="false"
            android:label="@string/title_activity_register_sucesso_cadastro_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.register.RegisterSenhaView"
            android:exported="false"
            android:label="@string/title_activity_register_senha_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.register.RegisterEmailView"
            android:exported="true"
            android:label="@string/title_activity_register_email_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".app.screen.login.LoginView"
            android:exported="true"
            android:label="@string/title_activity_login_view"
            android:theme="@style/Theme.TopHair" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TopHair">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>